{% extends 'base.html.twig' %}

{% block title %}Liste des ateliers{% endblock %}

{% block body %}
<style>
    body {background-color: #FFFFF2}
</style>
<div class="container d-flex flex-column align-items-center">
    <h1 class="text-primary">Liste des ateliers</h1>
    {% if ateliers is not empty %}
    <table class="table">
        <thead>
            <tr class="fw-bold">
                <th scope="col">Nom</th>
                <th scope="col">Heure</th>
                <th scope="col">Salle</th>
                <th scope="col">Métiers</th>
            </tr>
        </thead>
        <tbody>
            {% for atelier in ateliers %}
            <tr>
                <td><a href="{{ path('app_atelier_public_show', {'id': atelier.id}) }}">{{ atelier.nom }}</a></td>
                <td>{{ atelier.heure }}</td>
                <td>{{ atelier.salle.nom }}</td>
                <td>
                    {% for metier in atelier.metiers %}
                        {{ loop.first ? '' : ', ' }}{{ metier.nom }}
                    {% else %}
                        Aucun métier
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No ateliers available.</p>
    {% endif %}
</div>
{% endblock %}