{% extends 'base.html.twig' %}

{% block title %}{{atelier.nom}} - Atelier{% endblock %}

{% block body %}
<style>
  body{background-color : #FFFFF2; display:flex ; flex-direction:column ; align-items:center}
  .blue{color:#0B4F6C}
  .row{ width: 250px; margin:10px 0; border-radius: 20px; margin: 5px 5px}
  .containers{display:flex ; flex-direction:row ; flex-wrap:wrap; width:75%; }
</style>
<div class="containers mt-4">
  <h1 class="blue mb-4 w-100">Atelier détail</h1>
  <div class="row">
    <div class="col">
      <h4>Nom</h4>
      <p>{{atelier.nom}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Heure</h4>
      <p>{{atelier.heure}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Salle</h4>
      <p>{{atelier.salle.nom}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Métiers</h4>
      {% for metier in atelier.metiers %}
      <p>{{ loop.first ? ',' : '' }}{{metier.nom}}</p>
      {% else %}
      <p>Aucun métier</p>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Nombre de participants</h4>
      <p>{{atelier.lyceens|length}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Intervenants</h4>
      {% if atelier.intervenants is not empty %}
      <ul>
        {% for intervenant in atelier.intervenants %}
        <li>{{intervenant.prenom}} {{intervenant.nom}}</li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Aucun formateur</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Ressources</h4>
      {% if atelier.ressources is not empty %}
      <ul>
        {% for ressource in atelier.ressources %}
        <li>
          <a href="{% if ressource.type == 'pdf' %}{{asset('uploads/brochures/' ~ ressource.contenu)}}{% else %}{{ressource.url}}{% endif %}"
            target="_blank">
            {{ 'Ressource n°' ~ loop.index }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Aucun lyceen</p>
      {% endif %}
    </div>
  </div>
  {% endblock %}