{% extends 'base.html.twig' %}

{% block title %}Atelier index{% endblock %}

{% block body %}
    <main>
        <div class="d-flex justify-content-between mb-4 mt-5">
            <h1 class="text-primary text-center">Gestion des ateliers</h1>
            <a href="{{ path('app_atelier_new') }}" class="btn btn-primary d-flex align-items-center">
                <div class="mx-auto">Ajouter un atelier</div>
            </a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Début de l'atelier</th>
                <th>Secteur</th>
                <th>Salle</th>
            </tr>
            </thead>
            <tbody>
            {% for atelier in ateliers %}
                <tr>
                    <td>{{ atelier.id }}</td>
                    <td>{{ atelier.nom }}</td>
                    <td>{{ atelier.heure }}</td>
                    <td>{{ atelier.secteur.nom }}</td>
                    <td>{{ atelier.salle.nom }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_atelier_show', {'id': atelier.id}) }}">Afficher</a>
                        <a class="btn btn-primary" href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
