{% extends 'base.html.twig' %}

{% block title %}Atelier{% endblock %}

{% block body %}
    <h1 class="text-center text-primary">Atelier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atelier.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ atelier.nom }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ atelier.heure }}</td>
            </tr>
        </tbody>
    </table>

        <div class="d-flex gap-2">
            <a class="btn btn-primary" href="{{ path('app_atelier_index') }}">Retour à la liste</a>
            <a class="btn btn-primary" href="{{ path('app_atelier_edit', {'id': atelier.id}) }}">Modifier</a>
            {{ include('back_office/atelier/_delete_form.html.twig') }}
        </div>
{% endblock %}
