{% extends 'base.html.twig' %}

{% block title %}Gestion des lycées{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mb-4 mt-5">
        <h1 class="text-primary text-center">Gestion des lycées</h1>
        <a href="{{ path('app_lycee_new') }}" class="btn btn-primary d-flex align-items-center">
            <div class="mx-auto">Ajouter un lycée</div>
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lycee in lycees %}
            <tr>
                <td>{{ lycee.id }}</td>
                <td>{{ lycee.nom }}</td>
                <td>
                    <a class="btn-primary btn" href="{{ path('app_lycee_show', {'id': lycee.id}) }}">Afficher</a>
                    <a class="btn btn-primary" href="{{ path('app_lycee_edit', {'id': lycee.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
