{% extends 'base.html.twig' %}

{% block title %}Lyceen index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between mb-4 mt-5">
        <h1 class="text-primary text-center">Gestion des lycéens</h1>
        <a  href="{{ path('app_lyceen_new') }} "class="btn btn-primary d-flex align-items-center">
            <div class="mx-auto">Ajouter un lycéen</div>
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>DateInscription</th>
                <th>Section</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lyceen in lyceens %}
            <tr>
                <td>{{ lyceen.id }}</td>
                <td>{{ lyceen.email }}</td>
                <td>{{ lyceen.telephone }}</td>
                <td>{{ lyceen.dateInscription ? lyceen.dateInscription|date('Y-m-d') : '' }}</td>
                <td>{{ lyceen.section }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_lyceen_show', {'id': lyceen.id}) }}">Afficher</a>
                    <a class="btn btn-primary" href="{{ path('app_lyceen_edit', {'id': lyceen.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
