{% extends 'base.html.twig' %}

{% block title %}Lyceen{% endblock %}

{% block body %}
    <h1>Lyceen</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lyceen.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ lyceen.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ lyceen.telephone }}</td>
            </tr>
            <tr>
                <th>DateInscription</th>
                <td>{{ lyceen.dateInscription ? lyceen.dateInscription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ lyceen.section }}</td>
            </tr>
        <tr>
            <th>Ateliers</th>
            <td>
                <ul>
                    {% for atelier in lyceen.ateliers %}
                        <li>
                            <a href="{{ path('app_atelier_show', {'id': atelier.id}) }}">{{ atelier.nom }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lyceen_index') }}">back to list</a>

    <a href="{{ path('app_lyceen_edit', {'id': lyceen.id}) }}">edit</a>

    {{ include('back_office/lyceen/_delete_form.html.twig') }}
{% endblock %}
