<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">


    <div class="col-md-3 text-center">
      <a href="{{ path('app_home') }}" class="nav-link px-2 link-secondary">Home</a>
    </div>

    <div class="col-md-3 mb-2 mb-md-0">
      <a href="{{ path('app_home') }}" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
    </div>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li></li>
      <li><a href="/ateliers" class="nav-link px-2">Ateliers</a></li>

        {% if app.user %}
            <p class="m-auto text-secondary px-2">{{ app.user.userIdentifier }}</p>
            <a type="button" class="btn btn-primary" href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <div class="d-flex">
                <a type="button" class="btn btn-outline-primary me-2" href="{{ path('app_login') }}">Se connecter</a>
                <a class="btn btn-primary" href="{{ path("app_register") }}">S'inscrire</a>
            </div>
        {% endif %}



    </ul>


  </header>
</div>
